/* Main page */

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #ebebeb;
}

.left {
  width: 40vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("./assets/CASBackground.jpeg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  padding: 40px;
  color: white;
  overflow-y: scroll;
}

.left h1 {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
}

.right {
  width: 60vw;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showSearch {
  padding: 10px;
  border-radius: 10px;
  background-color: #cee5e9;
  border: none;
  margin-bottom: 15px;
  text-align: center;
}

.hideSearch {
  display: none;
}

/* Add Experience */

.addExperienceForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.addExperienceForm h1 {
  font-weight: bold;
  margin-top: 20px;
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Forms */

form input[type="text"],
form input[type="url"] {
  margin: 5px 0;
  float: right;
  width: 250px;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border: none;
}

.expDesc {
  display: flex;
  flex-direction: column;
}

form p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

form .category input[type="checkbox"] {
  margin-right: 10px;
  width: 30px;
}

form .outcomes input[type="checkbox"] {
  margin-right: 10px;
  width: 30px;
}

form select {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  margin-top: 25px;
  padding: 8px;
  border-radius: 10px;
  background: transparent;
  border: 1.5px solid white;
  color: white;
  width: 100%;
}

input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid white;
  font-weight: bold;
  cursor: pointer;
}

/* Database */

.right .table {
  width: 63vw;
  overflow-y: scroll;
}

.right .table .experience {
  margin-bottom: 25px;
  padding: 25px;
  display: flex;
  background: #f7f7ff;
  border-radius: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.right .table .experience h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.right .table .experience a {
  font-weight: lighter;
  font-size: 18px;
  color: #ec6d51;
}

.right .table .exp-name {
  width: 40%;
}

.right .table .experience .properties {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.right .table .experience .properties h5 {
  margin: 8px;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 15px;
  height: fit-content;
  width: fit-content;
  background: #edae49;
}

.properties #Creativity {
  background: #d1495b;
  color: white;
}

.properties #Activity {
  background: #30638e;
  color: white;
}

.properties #Service {
  background: #00798c;
  color: white;
}

.properties #subjects {
  background: #1a1a1a;
  color: white;
}

/* Filter Modal */

.btn-primary {
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #003d5b;
  font-weight: bold;
  font-size: 20px;
  border: none;
  width: 100%;
}

.btn-primary:hover {
  background-color: #1a1a1a;
}

.modal-content {
  padding: 10px;
  border-radius: 20px;
  border: 0;
}

.modal-title {
  font-weight: bold;
  color: #003d5b;
  font-size: 25px;
}

#submitQuery {
  padding: 10px;
  border-radius: 10px;
  background-color: #003d5b;
  font-weight: bold;
  border: none;
  color: white;
}

.filter form {
  display: flex;
  flex-direction: column;
}

/* Responsiveness */

.showMobile {
  display: none;
  font-size: 25px;
  font-style: italic;
  margin: 10px 0;
  color: aquamarine;
}

@media only screen and (max-width: 980px) {
  .showMobile {
    display: block;
  }
  .App {
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
  }
  .left {
    width: 100vw;
    height: fit-content;
  }
  .right {
    width: 100vw;
    height: fit-content;
    flex-direction: column-reverse;
    padding: 30px;
  }
  .right .table {
    width: 100vw;
  }
  .btn-primary {
    margin-bottom: 20px;
  }
  .addExperienceForm {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .addExperienceForm div {
    width: 40vw;
    margin: 0 2.5vw;
  }
  .addExperienceForm label {
    display: flex;
    justify-content: space-between;
  }
  form input[type="text"],
  form input[type="url"] {
    width: fit-content;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .showMobile {
    display: block;
  }
  .addExperienceForm div {
    width: 100vw;
  }
  .addExperienceForm label {
    display: flex;
    justify-content: space-between;
  }
  .addExperienceForm .category {
    width: 35vw;
    margin-right: 5vw;
  }
  .addExperienceForm .outcomes {
    width: 35vw;
  }
  .right .table .experience .properties {
    width: 50%;
  }
  .right .table .experience {
    flex-direction: column;
  }
  .right .table .exp-name {
    width: 100%;
  }
  .right .table .experience h2 {
    margin-bottom: 0;
  }
  .right .table .experience .properties {
    width: 100%;
    margin-top: 10px;
    margin-left: -5px;
  }
  .right .table .experience .properties h5 {
    margin: 5px;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .showMobile {
    display: block;
  }
  .addExperienceForm {
    flex-direction: column;
  }
  .addExperienceForm div {
    width: 100%;
    margin: 0;
  }
  .btn-primary {
    font-size: 15px;
  }
  .right .table .experience {
    flex-direction: column;
  }
  .right .table .exp-name {
    width: 100%;
  }
  .right .table .experience h2 {
    margin-bottom: 0;
  }
  .right .table .experience .properties {
    width: 100%;
    margin-top: 10px;
    margin-left: -5px;
  }
  .right .table .experience .properties h5 {
    margin: 5px;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 13px;
  }
}